.message{
	line-height: 27px;
	margin-right: 10px;

}
input#subtitle, input#quote {
	padding: 3px 8px;
	font-size: 1.2em;
	line-height: 100%;
	@include width-height(100%,1.7em);

	outline: 0;
	margin: 5px 0;
	border: 1px solid $white;

	.checkbox-title, .font-weight, .grid-color-dropdown, .add-media-box {
		padding: 10px 0;
	}

	select, #example-text, .example-box {
		margin-left: 10px;
	}

	.media-text {
	@extend .message;
	}

	#wp-content-editor-tools {
		background: transparent;
		@extend .message;
	}

	.example-box {
		margin-top: 2px;
		@include width-height(50px,25px);
		display: inline-block;
		position: absolute;
	}

	#example-text {
		font-family: 'Raleway', sans-serif;
	}

	.bg-color-warning {
		margin-left: 0;
		font-size: 14px;
		line-height: initial;
	}
}
