.page-head{
	display: flex;
	flex-direction: row;
	padding: 40px 60px 100px;
	width: 90%;
}

.blog-page-title {
	color: $black;
	font-size: 35px;
	margin: 0;
	width: 100%;
	text-align: center;
}

.blog-page-img {
	display: block;
	margin: $middle;
	width: 90%;
	height: 370px;
}

.blog-page-content {
	width: 85%;
	margin: 4% auto;
}

.author {
	width: 85%;
	margin: $middle;
	padding: 20px 0;
	border-top: 1px solid;
	display: flex;
	justify-content: space-around;
	font-style: italic;

	.post-author {
		color: $pink;
		text-transform: uppercase;
		width: 85%;
		font-weight: 700;
	}

	&-name {
		color: $black;
		font-weight: normal;
	}

	.date {
		align-self: flex-end;
	}
}

.blog-page-footer {
	@extend .author;
	justify-content: flex-start;
	border-bottom: 1px solid;
	margin-bottom: 50px;
	padding: 35px 0;
	display: flex;
	flex-direction: row;

	.author-img {
		width: 10%;
	}
}

.comments-area {
	padding: 3px 10px;

	&-info {
		font-size: 12px;
		padding-bottom: 10px;
	}
}
