.blog {
	&-overview-box {
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
		margin: $middle;
		overflow: hidden;
	}
	&-view {
		@extend .blog-overview-box;
		width: 900px;
	}

	&-item {
		margin: 10px;
		padding: 13px;
		@include width-height(224px,224px);
		border: 1px solid $blog-grey;
		&:hover {
			box-shadow: 6px 6px 20px 0px rgba(125, 125, 125, 0.5);
			transition: all linear 0.3s;
		}
	}
	&-overlay {
		height: 200px;
		display: flex;
		flex-direction: column;
		justify-content: center
	}
	&-title {
		font-weight: 800;
		display: block;
		text-align: center;
		font-size: 20px;
		color: $white;
		text-transform: uppercase;
	}
	&-author {
		@extend .blog-title;
		padding: 0;
		font-weight: 300;
	}
}

.blog-social-wrap {
	margin-left: 3px;
	padding-top: 10px;
}

.blog-comment-image,
.blog-favorite-image {
	height: 20px;
}

.blog-comment-link,
.blog-favorite-link,
.blog-item-link  {
	text-decoration: none;
}

.blog-comment-number,
.blog-favorite-number {
	font-size: 13px;
	color: $blog-grey;
	vertical-align: text-top;
	font-weight: 500;
}

.blog-favorite-image {
	margin-left: 10px;
}

.blog-footer {
	display: flex;
	justify-content: space-between;
	margin: 40px auto 0;
	width: 100%;
}

.blog-page-numbers {
	.pages {
		display: none;
	}

	.page {
		border: 1px solid $blog-grey;
		padding: 3px 10px;
		font-size: 20px;
		margin-left: 5px;
		color: $risingsun-red;
		text-decoration: none;
	}

	.current {
		@extend .page;
		margin-left: 50px;
	}

	.nextpostslink {
		display: none;
	}

	.page-numbering {
		border: 1px solid $blog-grey;
		font-size: 16px;
		color: $risingsun-red;
		padding: 2px 8px;
		margin-right: 8px;
	}
}

.smaller {
	border: 1px solid $blog-grey;
	font-size: 16px;
	color: $risingsun-red;
	padding: 2px 8px;
	margin-right: 8px;
	text-decoration: none;
}

.blog-search {
	align-self: flex-end;
	overflow: hidden;
	@media screen and (max-width: 920px) {
		float: none;
		text-align: center;
		margin-top: 15px;
	}
	.blog-search-field {
		background: url("../images/searchicon.png") no-repeat 3px 3px;
		background-size: 15px 15px;
		padding: 3px 25px;
		border: 1px solid $blog-grey;
		font-size: 14px;
		margin-right: 50px;
		@media screen and (max-width: 480px) {
			padding: 3px 40px;
		}
	}
}
