#grid-manager {
	margin-right: 40px;

	.grid-manager-title {
		@include width-height(100%,80px);
		background-color: $blog-grey;
		h1 {
			padding: 15px 0 0 0;
		}
	}

	.select-page {
		width: 100%;
		margin: 10px 20px 10px;
		border-width: 2px;
		display: block;

		.select-pattern {
			width: 100%;
			margin: 10px 20px 10px;
			border-width: 2px;
			display: block;

			.save-settings {
				margin: 20px 10px 0 0;
				display: inline-block;
			}
		}
	}

	.alert-message {
		color: $risingsun-red;
		line-height: 30px;
		margin-left: 20px;
		font-weight: 800;
		font-size: 15px;
	}

	.hidden-div {
		display: none;
	}
}
