.menu {
	height: 100%;
	overflow: hidden;
	z-index: 100;

	&-container {
		will-change: transform, height;
		@include width-height(300px,500px);
		background-color: $icey-blue;
		padding-left: 100px;
		box-sizing: border-box;
		transform: translate3d(-330px, -210px, 0) rotate(45deg);
		margin: 0;
		position: fixed;
		transition: all .6s ease-in-out;
		z-index: 110;

		@media screen and (max-width: 500px) {
			width: 100%;
			padding-left: 50px;
			transform: translate3d(-105%, -46%, 0) rotate(45deg);
			.register-project {
				right: auto;
			}
		}
	}
	&-list {
		margin: 0;
		padding: 0;
		list-style: none;
		width: 100%;
		display: block;
		padding-top: 125px;
	}
	&-item {
		padding-top: 3px;
		padding-bottom: 3px;
		padding-left: 20px;
		width: 100%;
		margin: 0;

		&:hover {
			background: $hover-green;
			@include width-height(180px,auto);
			display: block;
			text-decoration: none;
		}
	}
	&-link {
		color: $white;
		text-decoration: none;
		font-family: Helvetica, Arial;
		text-transform: uppercase;
		font-size: 15.5px;
		font-weight: 500;
		opacity: 0;
		transition: opacity .6s;
		cursor: pointer;

	}
	&-toggle {
		display: block;
		position: fixed;
		@include width-height(20px,15px);
		top: 15px;
		left: 12px;
		background: transparent;
		cursor: pointer;
		z-index: 118;
	}
	&-hamburger {
		position: relative;
		top: 5px;
		left: 0px;

		&:before {
			position: absolute;
			content: "";
			top: -6px;
		}

		&:after {
			position: absolute;
			content: "";
			bottom: -6px;
		}
	}

	&-hamburger, &-hamburger:before, &-hamburger:after {
		background-color: $white;
		@include width-height(20px,3px);
		display: block;
		transition: all .3s;
	}
}

.active {

	.menu-hamburger {
		background: transparent;
		&:before {
			transform: rotate(-45deg);
			top: 0px;
		}
		&:after {
			transform: rotate(45deg);
			bottom: 0;
		}
	}

	.menu-link {
		opacity: 1;
		transition-delay: .3s;
	}

	.menu-container {
		height: 200%;
		transform: translate(-100px, -8px) rotate(0);
		background-color: $groenemannen-green;

		@media screen and (max-width: 500px) {
			transform: translate(0, 0) rotate(0);
		}
	}
}

.register-project {
	@include width-height(180px,30px);
	bottom: 55%;
	right: 10px;
	position: absolute;
	border: 1px solid $risingsun-red;
	text-transform: uppercase;
	font-size: 15px;
	color: $white;
	background-color: $risingsun-red;
	font-family: 'Roboto', sans-serif;
}
