.es {
	&_txt_name_pg {
		border: 1px solid $black;
	}

	&_button &_textbox_button {
		float: right;
	}

	&_shortcode_form {
		float: right;
	}
}

#es_txt_button_pg {
	background-color: $gray44;
	color: $white;
	text-transform: uppercase;
	font-size: 12px;
	@include width-height(200px,25px);
	font-weight: 700;
}

.spu-content {
	h1 {
		text-align: center;
		text-transform: uppercase;
	}

	p em {
		font-size: 13px;
		@include width-height(400px,131px);
		float: right;
		margin: -120px 0 -97px -97px;
		margin-right: 0;
	}
}
