//colors
$icey-blue: #00C3E5;
$groenemannen-green: #75C398;
$risingsun-red: #F56462;
$hover-green: #8acca8;
$blog-grey: #c2c2c2;
$white: #ffffff;
$white-smoke: #f1f1f1;
$gray10: #1a1a1a;
$black: #000000;
$whale: #21759b;
$gray94: #f0f0f0;
$gray76: #c2c2c2;
$gray44: #707070;
$pink: #f8b9ba;
//sizes
$admin-grid-height: 250px;
$middle: 0 auto;
