@mixin calc-width-height($item-height, $section-height, $total-width) {
	width: calc(#{$item-height / 810 * $section-height * ($total-width / $item-height)});
	height: calc(#{$item-height / 810 * $section-height});
}
