.mobile-grid {
	@include width-height(100%,auto);

	.grid-item-content {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	.mobile-grid-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin: 0 auto;

		.mobile-grid-item {
			margin-bottom: 2px;
			width: inherit;
		}

		.width-33 {
			@include width-height(calc(33.33% - 1.4px),110px);
		}

		.width-50 {
			@include width-height(calc(50% - 1px),110px);
		}

		.width-100 {
			@include width-height(100%,110px);
		}

		.square {
			@include width-height(100%,220px);
		}

		.green {
			background: $groenemannen-green;
		}

		.blue {
			background: $icey-blue;
		}

		.red {
			background: $risingsun-red;
		}

		.grid-link {
			display: inline-block;
			@include width-height(100%,100%);
			text-decoration: none;
			display: flex;
			justify-content: center;
		}

		.right-spacing {
			margin-right: 1px;
		}

		.left-spacing {
			margin-left: 1px;
		}

		.both-side-spacing {
			margin: 0 1px;
		}
	}
}
