.mobile-home {
	@include width-height(auto,100%);

	.mobile-nav {
		width: 80px;
		margin: 0 auto;

		.mobile-logo {
			width: inherit;
			margin-top: 15px;
		}
	}
	.mobile-home-container {
		@include width-height(100%,auto);
		margin-top: 140px;

		.mobile-background-image {
			max-width: 100%;
		}
	}
}
