* {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}

.main-container {
	width: calc(100vw + 10000px);
}

.home {
	@include width-height(100vw,100vh);
	background: white;
	float:left;
}

.container-triangle {
 	position: relative;
}

.triangle {
	@include width-height(0,0);
	border-style: solid;
	border-width: 200px 200px 0 0;
	border-color: #999999 transparent transparent transparent;
	position:relative;
}
